# OS and Application
.DS_Store
.vscode

# LLM tools
.claude
.ai

# Language deps
node_modules
node_modules/
__pycache_
*.pyc
*Env/
*env/
.venv

# Sensitive info
.creds/
*creds*
*creds.json
credentials.csv
credentials*